:root {
  --brand: #d6f246;
  --accent: #1d1375;
  --accent2: #3d2dc8;
  --white: #ffffff;
  --dark: #050218;
  --neutral: #aeb2cb;
  --card: #eceaff;
  --body: #28282c;
}

*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  /* height: 400vh; */
  /* background: #f6f9fb; */
}

.canvas-stick {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.canvas-sticky {
  /* position: sticky !important; */
  top: 0;
  width: 100%;
  height: 100vh;
}

#globe-canvas {
  /* position: relative; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100vh;
  display: block;
  background: var(--dark);
}

.content-container {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5rem;
}

h1,
h2 {
  color: var(--white);
  font-size: 5vw;
  width: 100%;
  /* mix-blend-mode: difference; */
}

.line {
  overflow: hidden;
}

.arrow-single {
  width: 100px;
  height: 50px;
  background: gray;
  margin-bottom: 10px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

.box {
  width: 100%;
  height: 200px;
  background-color: gray;
}

a {
  display: block;
  padding: 1rem 3rem;
  background-color: white;
  border-radius: 2em;
  width: auto;
}

.scroll-slider-container {
  overflow: auto;
  width: 100%;
  position: relative;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-no-wrap {
  display: flex;
  flex-wrap: no-wrap;
  gap: 2em;
  width: auto;
}

/* .scroll-slider {
  width: 100%;
} */

.slide-card {
  width: 20vw;
  min-width: 20vw;
  height: 200px;
  background-color: gray;
}

.p-5 {
  padding: 5rem;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.t-w {
  color: white;
}
