*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  background: #eff8fb;
  overflow: hidden;
  /* background: #f6f9fb; */
}
.canvas-continer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  background-color: white;
}

#globe-canvas {
  position: absolute;
  top: 5%;
  left: 40%;
  width: 900px;
  height: 900px;
  display: block;
}
