:root {
  --brand: #d6f246;
  --accent: #1d1375;
  --white: #ffffff;
  --dark: #050218;
  --neutral: #aeb2cb;
  --card: #eceaff;
  --body: #28282c;
}

*,
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: var(--dark);
  overflow: hidden;
  /* background: #f6f9fb; */
}

#globe-canvas {
  width: 100%;
  height: 100vh;
  display: block;
}
